<article class="blurb">
    <div class="blurb__inner">
        <h1>
            Hey, my name is <em>Barnz</em>! I'm a web developer
            <span class="space">&nbsp;</span><br />
            from the
            <img class="blurb__flag" src="/img/gb.webp" alt="United Kingdom Flag" height="30px"
                width="38.45px" /><em>United Kingdom</em>
        </h1>
        <p class="js-decode">
            I build web applications and the APIs that power them
        </p>
    </div>
    <a aria-label="Jump to content" href="#jump" id="jump" class="blurb__more">
        {{ partial "components/icon" "chevrons-down" }}
    </a>

    {{- partial "components/separator.html" -}}
</article>
