<section class="projects">
  <div class="projects__inner">
    <h2 id="projects">
      <a
        href='{{ ref . "/projects" }}'
        title='{{ i18n "menu_projects" }}'
        >{{ i18n "menu_projects" | title }}</a
      >
    </h2>
    <p>{{ i18n "projects_block_p" }}</p>
    {{ range ( where .Site.RegularPages "Type" "projects" | first 3 ) }}
    {{ partial "components/projectItem" (dict "context" .) }}
    {{ end }}
  </div>
</section>
{{ if not (gt (where .Site.RegularPages "Type" "projects" | len) 0) }}
{{ partial "components/incompleteTranslationMessage" . }}
{{ end }}

{{- $options := dict "targetPath" "js/bundle.min.js" "minify" true -}}
{{- $js := resources.Get "scripts/plugins/projectItem.ts" | js.Build $options | resources.Fingerprint "sha512" }}
{{- $.Page.Scratch.SetInMap "js" "projectItem" (printf "<script src='%s' integrity='%s' defer></script>" $js.Permalink $js.Data.Integrity | safeHTML) -}}
