{{ define "main" }}
<div class="page">
    <div class="page__header">
        <div class="page__header__inner">{{ .Content | safeHTML }}</div>
    </div>

    {{- partial "components/separator.html" -}}


    {{ if (gt (.Pages.ByPublishDate.Reverse | len) 0) }}
    <section class="list__content">
        {{ range .Pages.ByPublishDate.Reverse }}
            {{ partial "components/articleItem" (dict "context" .) }}
        {{ end }}
    </section>
    {{ end }}
</div>
{{ partial "components/incompleteTranslationMessage" . }}
{{ end }}
