{{ define "main" }}
<div class="post">
    <section class="post__header">
        <div class="post__header__inner">
        <h1>{{ .Title }}</h1>
        {{ if isset .Params "show_date" | and (eq .Params.show_date false) }} {{
        else }}
        {{ .Date.Format "Monday" }} {{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day }}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day }}rd{{ else }}th {{ end }} {{ .Date.Format "January 2006" }}
        {{ end }}

        Reading time:
        {{ math.Round (div (countwords .Content) 220.0) }}
        minutes.
        </div>
    </section>
    <section class="post__content">{{ .Content | safeHTML }}</section>
</div>

{{ $author := index .Site.Data.authors (.Params.author | default "barnz") }}
{{- if $author -}}
	<aside class="author">
        <div class="author__inner">
            <img class="author__avatar" width="125px" height="125px" alt="Author image" src="{{ $author.avatar }}"/>
            <div class="author__info">
                <span class="author__name">{{ $author.name }}</span>
                <span class="author__bio">{{ $author.bio }}</span>
            </div>

            <div class="author__social">
                <a href="" target="_blank">
                    {{ partial "components/icon" "twitter" }}
                </a>
            </div>
        </div>
	</aside>
{{- end -}}


{{ end }}
