.list__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  max-width: var(--content-width);
  padding: 0 var(--gutter);
  margin: -3rem auto 0 auto;
  z-index: 2;

  @include media('>tablet') {
    grid-template-columns: 2fr 2fr;
    grid-gap: 2rem;
  }
}
