.list {
    display: flex;
    flex-direction: column;

    &__header {
        background-color: #313142;
        color: var(--light);
        // background: linear-gradient(20deg, #313142 0%, #1b1b27 65%);
        padding: 5rem 0 2rem 0;
        margin: 0 0 4rem 0;

        &__inner {
            max-width: var(--content-width);
            padding: 0 var(--gutter);
            margin: 0 auto;

            h1 {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 0.75rem;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 3rem;
        max-width: var(--content-width);
        padding: 0 var(--gutter);
        margin: 0 auto;
    }
}
