.author {
  display: flex;
  justify-content: center;

  &__container {
    padding: 0 var(--gutter);
    max-width: var(--content-width);
    width: 100%;
  }

  &__inner {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto-fit auto-fit auto-fit auto-fit;
    grid-template-rows: auto-fit auto-fit;
    grid-template-areas:
      'avatar name'
      'avatar bio'
      'social bio'
      'social bio';
    background-color: var(--dark);
    color: var(--light);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1.5rem;

    @include media('>tablet') {
      padding: 2rem;
      grid-template-columns: auto-fit auto-fit auto-fit;
      grid-template-rows: auto-fit auto-fit;
      grid-template-areas:
        'avatar name social'
        'avatar bio social';
    }
  }

  &__avatar {
    grid-area: avatar;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 2px solid rgba(225, 225, 225, 0.25);
  }

  &__name {
    grid-area: name;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__bio {
    grid-area: bio;
  }

  &__social {
    grid-area: social;
    justify-content: space-around;
    display: flex;

    @include media('>tablet') {
      flex-direction: column;
    }

    .icon {
      transition: transform 200ms;

      &:hover {
        transform: scale(1.15);
      }
    }

    a {
      color: var(--light);
    }
  }
}
