@keyframes more_bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -30px);
  }
  60% {
    transform: translate(-50%, -15px);
  }
}

.blurb {
  position: relative;
  text-align: center;
  color: var(--light);
  background-color: var(--dark);
  background: linear-gradient(10deg, #313142 0%, #1b1b27 65%);

  &__flag {
    height: 20px;
    width: auto;
    margin-right: 0.75rem;

    @include media('>tablet') {
      height: 30px;
      width: auto;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 80vh;
    min-height: 500px;
    max-width: 250px;
    padding: 0 var(--gutter);
    margin: 0 auto;

    @include media('>phone') {
      max-width: 390px;
    }

    @include media('>tablet') {
      height: 90vh;
      max-width: var(--content-width);
      min-height: 500px;
    }
  }

  &__more {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent);
    color: var(--accent-alt);
    font-weight: bold;
    box-shadow: 0px 0px 10px 2px
      hsla(var(--dark-hue), var(--dark-sat), var(--dark-lightness), 0.6);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    animation: more_bounce 1500ms infinite;
    transition: all 150ms;

    &:hover {
      text-decoration: none;
      animation-play-state: paused;
      border-radius: 6px;
    }

    .icon svg {
      width: 33px;
      height: 33px;
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2;
    margin-bottom: 4rem;
    text-align: left;

    br {
      display: none;
    }

    @include media('>phone') {
      font-size: 2rem;
    }

    @include media('>tablet') {
      font-size: 2.7rem;
      text-align: center;
      margin-bottom: 1.25rem;

      br {
        display: initial;
      }

      .space {
        display: none;
      }
    }
  }

  em {
    color: var(--accent);
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    max-width: 230px;
    margin-bottom: 4rem;
    opacity: 0.6;

    @include media('>tablet') {
      font-size: 1.45rem;
      text-align: center;
      max-width: unset;
      margin-bottom: initial;
    }
  }
}
