.contact {
  padding-top: calc(var(--gutter) * 7);

  @include media('>tablet') {
    padding-top: calc(var(--gutter) * 10);
  }

  &__inner {
    max-width: var(--content-width);
    padding: 0 var(--gutter);
    margin: 0 auto;

    > h1 {
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: var(--gutter);
    }

    > p {
      margin-bottom: calc(var(--gutter) * 2);

      small {
        font-size: 0.65rem;
      }
    }
  }
}

