@keyframes more_bounce {
    0%, 100% {
	transform: translate(-50%, 0);
    }
    50% { transform: translate(-50%, -10px); }
}

.blurb {
    position: relative;
    text-align: center;
    color: var(--light);
    background-color: var(--dark);
    background: linear-gradient(10deg, #313142 0%, #1b1b27 65%);

    &__inner {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
        max-width: var(--content-width);
        width: 100%;
	height: 90vh;
	min-height: 500px;
        padding: 0 var(--gutter);
        margin: 0 auto;
    }

    &__more {
	position: absolute;
	left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--white);
	color: var(--red);
	font-weight: bold;
	font-size: 1.5rem;
	box-shadow: 0px 0px 10px 2px var(--dark);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	bottom: 0;
	z-index: 1;
	cursor: pointer;
	animation: more_bounce 1500ms infinite;

	&:hover {
	    background-color: var(--red);
	    color: var(--white);
	}

	span {
	    transform: rotate(90deg) translateX(3%);
	}
    }

    h1 {
        font-size: 2.7rem;
        line-height: 2;
        margin-bottom: 1em;

        .space {
            display: none;
        }

        @include media('<desktop', '>phone') {
            font-size: 4vw;
        }

        @include media('<=phone') {
            font-size: 1.5rem;
            font-weight: bold;

            br {
                display: none;
            }

            .space {
                display: inline-block;
            }
        }
    }

    em {
        color: var(--red);
    }

    p {
        font-size: 1.45rem;
        line-height: 1.5;

        @include media('<desktop', '>phone') {
            font-size: 2.7vw;
        }

        @include media('<=phone') {
            font-size: 1rem;
        }
    }

    .divider {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);

        svg {
            position: relative;
            display: block;
            width: calc(125% + 1.3px);
            height: 105px;

            .shape-fill {
                fill: var(--grey);
            }
        }
    }
}
