.blurb {
    padding: 25vh 0;
    position: relative;
    text-align: center;
    color: var(--light);
    background-color: var(--dark);
    background: linear-gradient(10deg, #313142 0%, #1b1b27 65%);

    &__inner {
        max-width: var(--content-width);
        width: 100%;
        padding: 0 var(--gutter);
        margin: 0 auto;
    }

    h1 {
        font-size: 2.7rem;
        line-height: 2;
        margin-bottom: 1em;

        .space {
            display: none;
        }

        @include media('<desktop', '>phone') {
            font-size: 4vw;
        }

        @include media('<=phone') {
            font-size: 1.5rem;
            font-weight: bold;

            br {
                display: none;
            }

            .space {
                display: inline-block;
            }
        }
    }

    em {
        color: var(--red);
    }

    p {
        font-size: 1.45rem;
        line-height: 1.5;

        @include media('<desktop', '>phone') {
            font-size: 2.7vw;
        }

        @include media('<=phone') {
            font-size: 1rem;
        }
    }
}
