.footer {
    background-color: var(--dark);
    color: var(--grey);

    &__inner {
        max-width: var(--content-width);
        width: 100%;
        padding: calc(var(--gutter) / 2) var(--gutter);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > * {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }

        p,
        a {
            margin: 0;
            font-size: 0.8rem;

            span {
                color: red;
            }
        }

        > span {
            display: flex;
            align-items: center;

            a {
                border: none;
            }
        }

        img {
            &.github {
                padding-right: 0.5rem;
                width: auto;
                height: 15px;
                filter: invert(100%);
            }
        }
    }
}
