.header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: var(--dark);
    z-index: 5;

    &__inner {
        display: flex;
        max-width: var(--content-width);
        width: 100%;
        padding: 0 var(--gutter);
        margin: 0 auto;
    }

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin: var(--gutter) 0;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            width: 40px;
            height: auto;
            margin-right: var(--gutter);
        }
    }

    nav {
        display: flex;
        flex: 1;

        ul {
            display: flex;
            justify-content: flex-end;
            flex: 1;
            align-items: center;

            li {
                margin-left: 1.5rem;
            }
        }
    }
}
