body > header {
    display: flex;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    background-color: var(--dark);

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin: var(--gutter) 0;
    }

    nav {
        display: flex;
        flex: 1;

        ul {
            display: flex;
            justify-content: flex-end;
            flex: 1;
            align-items: center;

            li {
                margin-left: 1.5rem;
            }
        }
    }
}
