<section class="articles">
    <div class="articles__inner">
        <h1 id="articles">Articles</h1>
        <p>I don't write much, but when I do it will appear here.</p>
        <article class="articles__item">
            <h1>Using Gulp to create multiple asset bundles</h1>
            <p>
                Gulp is an open source tool that allows you to automate slow and
                repetitive tasks and integrate them into your build pipelines.
                This is a fantastic tool to have as a web developer. It lets you
                create tasks such as CSS minification or JavaScript
                obfuscation...
            </p>
        </article>
    </div>
</section>
