<footer class="footer">
    <div class="footer__inner">
        <p>made with <span class="heart">&hearts;</span> by barnz</p>
        <p>&copy; {{ now.Year }} {{ .Site.Copyright }}</p>
        <a
            href="https://github.com/incinn/barnz.dev"
            rel="noreferrer noopener"
            target="_blank"
        >
            {{ partial "components/icon" "github" }}
            <span>source</span>
        </a>
    </div>
</footer>

{{ $js := resources.Get "scripts/lightswitch.ts" | js.Build | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
