<footer class="footer">
    <div class="footer__inner">
      <p>{{ i18n "footer_made_with" }} <span class="heart">❤️</span> {{ i18n "footer_by" }} <a href="https://barnz.dev/">barnz</a></p>
      <p>
        {{ now.Year }} 
        <span class="footer__copyIcon">&copy;</span> {{ .Site.Copyright }} &bull; 
        <a href="{{ ref . "/legal" }}" title="{{ i18n "footer_legal"}}">{{ i18n "footer_legal" }}</a>
      </p>
      {{ with site.Params.git.last_commit }}
      <a 
        href="https://github.com/incinn/barnz.dev/commit/{{ .hashlong }}" 
        title="{{ i18n "common_view_source"}} [{{.date}}]"
        rel="noreferrer noopener" 
        target="_blank"
      >
        {{ partial "components/icon" "git-pull-request" }}
        v{{.version}}-{{ .hash }}
      </a>
      {{ else }}
      <a
          href="https://github.com/incinn"
          title="{{ i18n "common_view_source"}}"
          rel="noreferrer noopener"
          target="_blank"
      >
          {{ partial "components/icon" "github" }}
      </a>
    </span>
    {{ end }}
</footer>

{{- $options := dict "targetPath" "js/bundle.min.js" "minify" true -}}
{{ $js := resources.Get "scripts/_init.ts" | js.Build $options | resources.Fingerprint "sha512" }}
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

{{- range .Scratch.GetSortedMapValues "js" -}}
{{ . }}
{{- end -}}

<script
  data-domain="barnz.dev"
  src="https://admin.barnz.dev/js/script.js"
  defer
></script>
