<footer class="footer">
    <div class="footer__inner">
        <p>{{ i18n "footer_made_with" }} <span class="heart">❤️</span> {{ i18n "footer_by" }} <a href="https://barnz.dev/">barnz</a></p>
      <p>
      {{ now.Year }} &copy; {{ .Site.Copyright }} &bull; <a href="{{ ref . "/legal" }}" title="{{ i18n "footer_legal"}}">{{ i18n "footer_legal" }}</a>
      </p>
      <span class="links">
        <a
            href="https://twitter.com/devcpu"
            title="Twitter"
            rel="noreferrer noopener"
            target="_blank"
        >
            {{ partial "components/icon" "twitter" }}
        </a>
        <a
            href="https://github.com/incinn"
            title="{{ i18n "common_view_source"}}"
            rel="noreferrer noopener"
            target="_blank"
        >
            {{ partial "components/icon" "github" }}
        </a>
      </span>
    </div>
</footer>

{{ $js := resources.Get "scripts/_init.ts" | js.Build | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

{{- $noop := .Content -}}
{{- range .Scratch.GetSortedMapValues "js" -}}
{{ . }}
{{- end -}}
