<header class="header">
    <div class="header__inner">
        <h1>
            <a href="{{ ref . " /" }}" title="{{ i18n " header_homepage" }}">
                barnz<span class="dot">.</span><span class="dev">dev</span>
            </a>
        </h1>

        <input type="checkbox" name="menuToggle" id="menuToggle" class="menuToggle__input" />
        <label for="menuToggle" class="menuToggle">
            <span class="menuToggle__open">
                {{ partial "components/icon" "menu" }}
            </span>
            <span class="menuToggle__close">
                {{ partial "components/icon" "x" }}
            </span>
        </label>

        <nav class="menu" id="js-nav">
            <a href="{{ ref . " /" }}" title="{{ i18n " menu_home" }}" class="showMobile">{{ i18n "menu_home" }}</a>
            <a href="{{ ref . " /projects" }}" title="{{ i18n " menu_projects" }}">{{ i18n "menu_projects" }}</a>
            <a href="{{ ref . " /blog" }}" title="{{ i18n " menu_blog" }}">{{ i18n "menu_blog" }}</a>
            <a href="{{ ref . " /contact" }}" title="{{ i18n " menu_contact" }}">{{ i18n "menu_contact" }}</a>
        </nav>

        <input type="checkbox" name="optionsMenuToggle" id="optionsMenuToggle" class="optionsMenuToggle__input" />
        <label for="optionsMenuToggle" class="optionsMenuToggle">
            {{ partial "components/icon" "settings" }}
        </label>

        <aside class="optionsMenu" id="js-options-nav">
            <label for="optionsMenuToggle" class="optionsMenu__backdrop"></label>
            <div class="optionsMenu__inner">
                <label for="optionsMenuToggle" class="optionsMenu__close">
                    {{ partial "components/icon" "x" }}
                </label>

                <div class="optionsMenu__display">
                    <span class="optionsMenu__inner__title">
                        {{ i18n "options_menu_title" }}
                    </span>
                    <div class="optionsMenu__content">
                        <label class="optionsMenu__content__title" for="lightModeToggle">
                            {{ i18n "options_menu_light_mode_title" }}
                            <small>{{ i18n "options_menu_light_mode_desc" }}</small>
                        </label>
                        <div id="js-lightswitch"></div>
                    </div>
                    <div class="optionsMenu__content">
                        <label class="optionsMenu__content__title" for="languageSwitcher__input">
                            {{ i18n "options_menu_language_title" }}
                            <small>{{ i18n "options_menu_language_desc" }}</small>
                        </label>
                        <div class="languageSwitcher">
                            <input type="checkbox" name="languageSwitcher__input" id="languageSwitcher__input"
                                class="languageSwitcher__input" />
                            <label class="languageSwitcher__current" for="languageSwitcher__input"
                                title="{{ $.Site.Language.LanguageName }}">
                                <img src="/img/flags/{{ $.Lang }}.png" alt="{{ $.Lang }}" title="{{ $.Lang }}"
                                    width="16px" height="11px" />
                                <div class="languageSwitcher__current__name">{{ $.Site.Language.LanguageName }}</div>
                                {{ partial "components/icon" "chevron-down" }}
                            </label>
                            <ul class="languageSwitcher__options">
                                {{ range $.AllTranslations }}
                                {{ if not (eq .Lang $.Lang) }}
                                <li>
                                    <a href="{{ .RelPermalink }}" title="{{ .Language.LanguageName }}">
                                        <img src="/img/flags/{{ .Lang }}.png" alt="{{ .Lang }}" title="{{ .Lang }}"
                                            width="16px" height="11px" />
                                        {{ .Language.LanguageName }}
                                    </a>
                                </li>
                                {{ end }}
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                    <div class="optionsMenu__content">
                        <span class="optionsMenu__content__title">
                            {{ i18n "options_menu_reset_title" }}
                            <small>{{ i18n "options_menu_reset_desc" }}</small>
                        </span>
                        <button id="js-plugin-reset-all" class="btn btn--small btn--danger">{{ i18n
                            "options_menu_reset_button" }}</button>
                    </div>
                </div>

            </div>
        </aside>
    </div>
</header>
