<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
        name="description"
        content="Hello, I am Barnz, a passionate web developer from the UK."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello I am barnz, passionate web developer from the UK 🇬🇧</title>

    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $style := $sass | resources.ToCSS | resources.Minify }}
    <style>
        {{ $style.Content | safeCSS }}
    </style>
</head>
