<header class="header">
    <div class="header__inner">
        <h1>
            <a href="{{ ref . " /" }}" title="homepage">
                barnz<span class="dot">.</span><span class="dev">dev</span>
            </a>
        </h1>

        <input type="checkbox" name="menuToggle" id="menuToggle" class="menuToggle__input" />
        <label for="menuToggle" class="menuToggle">
            <span class="menuToggle__open">
                {{ partial "components/icon" "menu" }}
            </span>
            <span class="menuToggle__close">
                {{ partial "components/icon" "x" }}
            </span>
        </label>

        <nav class="menu" id="js-nav">
            <a href="{{ ref . " /" }}" title="{{ i18n " menu_home" }}" class="showMobile">{{ i18n "menu_home" }}</a>
            <a href="{{ ref . " /projects" }}" title="{{ i18n " menu_projects" }}">{{ i18n "menu_projects" }}</a>
            <a href="{{ ref . " /blog" }}" title="{{ i18n " menu_blog" }}">{{ i18n "menu_blog" }}</a>
            <a href="{{ ref . " /contact" }}" title="{{ i18n " menu_contact" }}">{{ i18n "menu_contact" }}</a>
        </nav>

        <input type="checkbox" name="optionsMenuToggle" id="optionsMenuToggle" class="optionsMenuToggle__input" />
        <label for="optionsMenuToggle" class="optionsMenuToggle">
            {{ partial "components/icon" "settings" }}
        </label>
        <div class="optionsMenu" id="js-options-nav">
            <label for="optionsMenuToggle" class="optionsMenu__backdrop"></label>
            <div class="optionsMenu__inner">
                <label for="optionsMenuToggle" class="optionsMenu__close">
                    {{ partial "components/icon" "x" }}
                </label>

                <div id="js-lightswitch">
                    <span>Theme</span>
                    <p>Toggle between light and dark themes.</p>
                </div>
                <div class="optionsMenu__language">
                    <span>Language</span>
                    <p>Select the language you prefer.</p>
                    <ul>
                        {{ range $.AllTranslations }}
                        <li>
                            <a  class="{{ if eq .Lang $.Lang }}selected{{ end }} btn btn--small btn--dark" href="{{ .RelPermalink }}">
                                <img src="/img/flags/{{ .Lang }}.png" alt="{{ .Lang }}" title="{{ .Lang }}" width="16px"
                                    height="11px" />
                                {{ .Language.LanguageName }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                    <small>Note: not all content is available in every language.</small>
                </div>
                <div class="optionsMenu__clearData">
                    <span>Reset</span>
                    <p>Clear all saved data and reset to defaults.</p>
                    <button class="btn btn--small btn--dark">Reset</button>
                </div>
            </div>
        </div>
    </div>
</header>
