<div class="articleItem">
  <div class="articleItem__title">
    {{ if .context.Params.externalLink }}
    <a
      target="_blank"
      href="{{ .context.Params.externalLink }}"
      >{{ .context.Title }}</a
    >
    {{ partial "components/icon" "external-link" }} {{ else }}
    <a href="{{ .context.RelPermalink }}">{{ .context.Title }}</a>
    {{ end }}
  </div>

  <div class="articleItem__summary prose">
    {{ .context.Summary | safeHTML | truncate 200 }}
  </div>

  <div class="articleItem__metadata">
    <span class="articleItem__metadata--date">
      {{ time.Format "Mon" .context.Date }} {{ .context.Date.Format "2" }}{{ if
      in (slice 1 21 31) .context.Date.Day }}st{{ else if in (slice 2 22)
      .context.Date.Day}}nd{{ else if in (slice 3 23) .context.Date.Day }}rd{{
      else }}th {{ end }} {{ time.Format "Jan 2006" .context.Date }}
    </span>
    {{ if .context.IsTranslated }}
    <ul class="articleItem__metadata--translations">
      {{ range .context.Translations }}
      <li>
        <a
          href="{{ .Permalink }}"
          title="{{ .Title }}"
        >
          <img
            src="/img/flags/{{ .Lang }}.png"
            alt="{{ .Lang }}"
            title="{{ .Lang }}"
            width="16"
            height="11"
          />
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</div>
