<section class="projectItem">
  <div class="content">
    <div class="content__title">
      <h1>
        {{ with .context.Permalink }}
          <a href="{{ . }}">
        {{ end }}
          {{ .context.Title }}
        {{ with .context.Permalink }}
        </a>
        {{ end }}
      </h1>
      <div class="content__title__buttons">
        {{ with .context.Params.liveUrl }}
        <a
          class="btn btn--small btn--light"
          title="Visit project website"
          href="{{ . }}"
          rel="noreferrer noopener"
          target="_blank"
        >
          view
          {{ partial "components/icon" "external-link" }}
        </a>
        {{ end }}
        {{ with .context.Params.sourceUrl }}
        <a
          class="btn btn--invert btn--small btn--dark"
          title="View project source"
          href="{{ .}}"
          rel="noreferrer noopener"
          target="_blank"
        >
          source
          {{ partial "components/icon" "github" }}
        </a>
        {{ end }}
      </div>
    </div>
    <span class="prose">
      {{ .context.Summary | safeHTML }}
    </span>
  </div>
  <div class="window">
    <div class="window__bar">
      <span>{{ .context.Title }}</span>
    </div>
    <div class="window__address">
      <span>
        {{ if .context.Params.liveUrl }}
          {{ .context.Params.liveUrl }}
        {{ else }}
          https://localhost
        {{ end }}
      </span>
    </div>
    <img
      {{ if .context.Params.screenshotImage }}
      src="{{ .context.Permalink }}{{ .context.Params.screenshotImage }}"
      {{ else }}
      src="/img/coming-soon.webp"
      {{ end }}
      alt="{{ .context.Title }} screenshot"
      width="350px"
      height="190px"
    />
  </div>
</section>
