<aside class="translationCredit">
    <div class="translationCredit__container">
        <div class="translationCredit__text">
          <p>{{ i18n "translation_credit_p_1" }}</p>
          <p>{{ i18n "translation_credit_p_2" }}</p>
        </div>
        <div class="translationCredit__vote">
            <button class="voteYes btn btn--small btn--dark" title='{{ i18n "translation_credit_button_yes" }}'>
                {{ partial "components/icon" "thumbs-up" }}
            </button>
            <button class="voteNo btn btn--small btn--dark" title='{{ i18n "translation_credit_button_no" }}'>
                {{ partial "components/icon" "thumbs-down" }}
            </button>
        </div>
    </div>
</aside>
