<div class="window">
  <div class="window__bar">
    <div class="window__address">
      <span>
        {{ if .context.Params.liveUrl }} {{ .context.Params.liveUrl }} {{ else
        }} https://localhost {{ end }}
      </span>
    </div>
  </div>
  <img {{ if .context.Params.screenshotImage }} src="{{ .context.Permalink }}{{
  .context.Params.screenshotImage }}" {{ else }} src="/img/coming-soon.webp" {{
  end }} alt="{{ .context.Title }} {{ i18n " common_screenshot" }}"
  width="350px" height="190px" />
</div>
