@mixin darkButton {
  color: var(--grey);
  border-color: var(--dark);
  background-color: var(--dark);

  &:hover {
    background-color: hsla(var(--dark-hue), var(--dark-sat), 10%, 100%);
  }

  &:active {
    box-shadow: inset 0px 0px 10px 1px var(--dark);
  }

  &:focus-visible {
    outline: 1px solid var(--accent);
    outline-offset: 0px;
  }
}

@mixin lightButton {
  $bg: #f5f5f5;

  color: var(--dark);
  border-color: rgba(black, 0.25);
  background-color: $bg;

  &:hover {
    background-color: darken($bg, 3%);
  }
}

[data-theme="dark"] {
  .btn {
    &--resp {
      @include darkButton;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 1.25rem 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: 100ms;

  @include media(">tablet") {
    padding: 0.85rem;
  }

  &:hover {
    text-decoration: none;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 8px 1px var(--accent);
  }

  .icon {
    margin-left: 0.5rem;
  }

  &--primary {
    color: var(--accent-alt);
    background-color: var(--accent);
  }

  &--resp {
    @include lightButton;
  }

  &--dark {
    @include darkButton;
  }

  &--light {
    @include lightButton;
  }

  &--small {
    padding: 0.75rem;
    font-size: 0.9rem;
  }

  &--danger {
    color: var(--white);
    background-color: var(--red);
  }
}
