.contactForm {
  display: flex;
  flex-direction: column;

  @include media('>tablet') {
    max-width: calc(var(--content-width) / 1.5);
  }

  @mixin input {
    padding: 0.5rem;
    font-size: 1rem;
    font-family: Ubuntu-Mono;
    border-radius: 3px;
    border: 3px solid transparent;
    box-shadow: none;
    margin-bottom: var(--gutter);
    transition: 200ms;

    &:focus {
      outline: none;
      border-color: var(--accent);

      &::placeholder {
        opacity: 0;
      }
    }

    &::placeholder {
      opacity: 0.35;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &--confirm {
      display: none;
      visibility: hidden;
      pointer-events: none;
    }

    &__item {
      flex-basis: calc(50% -0.5rem);
      display: flex;
      flex-direction: column;
    }
  }

  label {
    margin: 0 0 5px 0;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;

    .required {
      color: red;
      margin-left: 0.25rem;
    }
  }

  button[type='submit'] {
    margin-left: auto;
    margin-top: 1rem;
    width: 100%;
    justify-content: center;

    @include media('>tablet') {
      margin-top: 2rem;
      width: 75px;
    }
  }

  input[type='text'],
  input[type='email'] {
    @include input;
  }

  textarea {
    @include input;
    height: 120px;
    resize: vertical;

    @include media('>tablet') {
      height: 110px;
    }
  }
}
