form.contactForm {
  display: flex;
  flex-direction: column;

  @include media('>tablet') {
    max-width: calc(var(--content-width) / 1.5);
  }

  @mixin input {
    padding: 0.5rem;
    font-size: 1rem;
    font-family: Ubuntu-Mono;
    border-radius: 3px;
    border: 4px solid hsla(var(--dark-hue), var(--dark-sat), 75%, 100%);
    box-shadow: none;
    margin-bottom: var(--gutter);
    transition: 200ms;

    &:focus {
      outline: none;
      border-color: var(--accent);

      &::placeholder {
        opacity: 0;
      }
    }

    &::placeholder {
      opacity: 0.6;
    }
  }

  label {
    margin: 0 0 5px 0;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  input[type='submit'] {
    margin-left: auto;
    margin-top: 1rem;
    width: 100%;
    justify-content: center;

    @include media('>tablet') {
      margin-top: 2rem;
      width: 75px;
    }
  }

  textarea {
    @include input;
    height: 110px;
    resize: vertical;
  }
}
