.header {
  background-color: var(--dark);

  @include media('>tablet') {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 5;
  }

  &__inner {
    display: flex;
    align-items: center;
    max-width: var(--content-width);
    padding: 0 var(--gutter);
    margin: 0 auto;
    border-bottom: 2px dashed var(--accent);

    @include media('>tablet') {
      border-bottom: none;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: var(--gutter) auto var(--gutter) 0;

    span.dot {
      color: var(--accent);
      opacity: 1;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--light);

      span {
        opacity: 0.5;
      }
    }

    img {
      width: 37px;
      height: auto;
      margin-right: var(--gutter);
    }
  }

  nav.menu {
    @include media('<tablet') {
      transform: translateY(-100%);
      transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--dark);
      background: linear-gradient(10deg, #313142 0%, #1b1b27 65%);

      a {
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem var(--gutter);
        color: var(--light);

        &.showMobile {
          display: initial;
          visibility: visible;
        }
      }
    }

    @include media('>tablet') {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      margin-right: 2rem;

      a {
        margin-left: 2rem;
        transition: color 100ms;
        color: var(--light);

        &:hover {
          color: var(--accent);
        }

        &.showMobile {
          display: none;
          visibility: hidden;
        }
      }
    }
  }

  .menuToggle {
    z-index: 6;
    color: var(--light);
    padding: 1rem;
    cursor: pointer;

    &__input {
      display: none;

      &:checked {
        ~ .menuToggle .menuToggle__open {
          display: none;
        }

        ~ .menuToggle .menuToggle__close {
          display: block;
          position: fixed;
          top: 1.5rem;
          right: 1.75rem;
        }

        ~ nav.menu {
          transform: translateY(0);
        }
      }
    }

    &__close {
      display: none;
    }

    @include media('>tablet') {
      display: none;
    }
  }

  .optionsMenuToggle {
    cursor: pointer;
    color: var(--light);

    .icon {
      transition: transform 250ms;
    }

    &__input {
      display: none;

      &:checked {
        ~ .optionsMenuToggle .icon {
          transform: rotate(55deg);
        }

        ~ .optionsMenu .optionsMenu__backdrop {
          display: block;
        }

        ~ .optionsMenu {
          display: flex;
        }
      }
    }
  }

  .optionsMenu {
    @include media('<tablet') {
      position: fixed;
      overflow: hidden;
      max-height: 100vh;
      z-index: 7;
    }

    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    &__backdrop {
      @include media('<tablet') {
        display: none;
        visibility: hidden;
      }

      display: none;
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100vh;
      width: 100vw;
    }

    &__close {
      @include media('<tablet') {
        top: 1.5rem;
        right: 1.75rem;
      }

      position: absolute;
      cursor: pointer;
      top: 1rem;
      right: 1rem;
      opacity: 0.35;
    }

    &__inner {
      @include media('<tablet') {
        top: 0;
        position: sticky;
        overflow-y: auto;
        height: 100vh;
        width: 100vw;
        max-height: 100vh;
        border-radius: unset;
      }

      position: relative;
      z-index: 6;
      width: 450px;
      background-color: var(--grey);
      color: var(--dark);
      border-radius: 6px;
      padding: 2rem;
      box-shadow: 0px 0px 15px 12px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;

      > div:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      &__title {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }

      p {
        margin-bottom: 0.5rem;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      label {
        cursor: pointer;
      }

      &__title {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        max-width: 50%;

        small {
          margin-top: 0.5rem;
          font-size: 0.75rem;
        }
      }
    }
  }
}

.languageSwitcher {
  --width: 150px;
  --height: 35px;

  position: relative;
  color: var(--dark);

  &__input {
    display: none;

    &:checked {
      ~ .languageSwitcher__options {
        display: flex;
      }

      ~ .languageSwitcher__current {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

        .icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__current {
    display: flex;
    align-items: center;
    width: var(--width);
    height: var(--height);
    background: var(--light);
    border-radius: 6px;
    padding: 0.5rem;
    border: 1px solid rgba(black, 0.3);

    &__name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    img {
      margin-right: 0.5rem;
    }

    .icon {
      opacity: 0.5;
      display: flex;
      margin-left: auto;
      transition: transform 200ms;
    }
  }

  &__options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(var(--height) - 1px);
    right: 0;
    width: var(--width);
    background: var(--light);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid rgba(black, 0.3);

    li {
      a {
        display: block;
        padding: 0.25rem 0.5rem;
        color: var(--dark);
        font-weight: normal;
        transition: background-color 200ms, color 200ms;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
          background-color: var(--accent);
          color: var(--accent-alt);
        }
      }
    }
  }
}
