[data-theme="light"] {
  .infoBlock__inner {
    background-color: var(--light);
    color: var(--dark);
  }
}

.infoBlock {
  $blue: #3838c6;

  position: relative;
  z-index: 2;
  max-width: var(--content-width);
  padding: 0 var(--gutter);
  margin: 1rem auto;
  
  &__inner {
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--dark);
    color: var(--light);
    border-top: 5px solid $blue;
    border-radius: 6px;
  }

  .icon {
    color: $blue;
  }

  &__content {
    margin-left: 1rem;
  }
}
