.projectItem {
  display: flex;
  flex-direction: column-reverse;

  @include media('>tablet') {
    flex-direction: row;

    &:nth-child(odd) {
      flex-direction: row-reverse;

      .content {
        margin-left: calc(var(--gutter) * 3);
      }
    }

    &:nth-child(even) {
      .content {
        margin-right: calc(var(--gutter) * 3);
      }
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 4rem;

    @include media('>tablet') {
      margin-bottom: 8rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: calc(var(--gutter) * 2);

      @include media('>tablet') {
        flex-direction: row;
      }

      h3 {
        font-size: 1.75rem;
        letter-spacing: 2px;
        font-weight: bold;
      }

      &__buttons {
        display: flex;
        margin-top: var(--gutter);

        @include media('>tablet') {
          margin-top: unset;
        }

        a:not(:last-of-type) {
          margin-right: 1.5rem;

          @include media('>tablet') {
            margin-right: 0.5rem;
          }
        }

        .icon {
          width: 15px;
          height: 15px;
          margin-left: 0.5rem;
        }
      }
    }
  }

  p {
    &:not(:last-of-type) {
      margin-bottom: var(--gutter);
    }

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }
  }
}
