[data-theme='dark'] {
  .prose {
    table {
      tbody {
        tr {
          background-color: rgba(black, 0.1);

          &:nth-child(even) {
            background-color: rgba(black, 0.2);
          }
        }
      }
    }
    p code,
    h1 code,
    h2 code {
      color: var(--white);
      background-color: rgba(225, 225, 225, 0.1);
    }
  }
}

.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    margin-bottom: 0.75rem;
    word-break: break-word;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
    color: var(--accent);
  }

  del {
    color: var(--content-text);
    opacity: 0.5;
  }

  a:not(.btn) {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 2px;
    word-break: break-word;

    &:hover {
      text-decoration-color: var(--light);
      text-decoration-thickness: 2px;
    }
  }

  hr {
    width: 75%;
    border: 1px dashed var(--accent);
    border-radius: 5px;
    margin: 4rem auto;
  }

  ul {
    list-style: disc;
    list-style-position: outside;
    margin: 0 0 1rem 1.25rem;

    ul {
      list-style: circle;
      list-style-position: outside;
    }
  }

  ol {
    list-style: decimal-leading-zero;
    list-style-position: outside;
    margin: 0 0 1rem 2.25rem;

    ::marker {
      font-weight: bold;
    }

    ol {
      list-style: lower-roman;
      list-style-position: outside;
    }
  }

  table {
    margin-bottom: 2rem;

    td {
      padding: 0.75rem 1rem;
    }

    thead {
      th {
        background-color: var(--dark);
        color: var(--light);
        padding: 1.25rem 1rem;
        text-transform: uppercase;
        border: 1px solid var(--dark);
        font-weight: bold;
      }
    }

    tbody {
      td {
        border: 1px solid var(--dark);
        word-break: break-all;
      }

      tr {
        background-color: var(--white);

        &:nth-child(even) {
          background-color: #eee;
        }
      }
    }
  }

  p code,
  h1 code,
  h2 code {
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var(--grey);
    color: var(--dark);
    padding: 0.15rem 0.45rem;
    border-radius: 6px;
  }

  .highlight {
    max-width: calc(100vw - calc(var(--gutter) * 2));
    margin-right: -1rem;
    margin-left: -1rem;
    margin-bottom: 1rem;

    @include media('>tablet') {
      margin: 0 0 1rem 0;
    }

    code {
      font: revert;
    }

    > pre {
      padding: 1rem;
      overflow: auto;

      @include media('>tablet') {
        border-radius: 6px;
      }
    }

    > div {
      padding: 1rem;
      border-radius: 0px;

      @include media('>tablet') {
        border-radius: 6px;
      }
    }
  }
}
