@import '/node_modules/reset-css/reset.css';
@import './vars';
@import './components/header';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    font-size: 18px;
    line-height: 1.3;
    font-family: monospace;

    a {
        color: var(--light);
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    main > * {
        width: var(--content-width);
    }
}
