@import 'node_modules/include-media/dist/_include-media.scss';
@import '/node_modules/reset-css/reset.css';
@import './fonts';
@import './vars';
@import './components/header';
@import './components/blurb';

body {
    display: block;
    background-color: var(--dark);
    color: var(--light);
    font-size: 18px;
    line-height: 1.3;
    font-family: Ubuntu-Mono, monospace;

    a {
        color: var(--light);
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    & > header,
    & > footer,
    & > main {
        max-width: var(--content-width);
        width: 100%;
        padding: 0 var(--gutter);
        margin: 0 auto;
    }
}
