$breakpoints: (
    'phone': 500px,
    'tablet': 768px,
    'desktop': 1024px,
) !default;

:root {
    --gutter: 0.85rem;
    --content-width: 1024px;

    --white: #fff;

    --dark-hue: 244;
    --dark-sat: 20%;
    --dark-lightness: 13%;
    --dark: hsla(var(--dark-hue), var(--dark-sat), var(--dark-lightness), 100%);

    --light-hue: 60;
    --light-sat: 53%;
    --light-lightness: 97%;
    --light: hsla(var(--light-hue), var(--light-sat), var(--light-lightness), 100%);

    --grey-hue: 90;
    --grey-sat: 4%;
    --grey-lightness: 90%;
    --grey: hsla(var(--grey-hue), var(--grey-sat), var(--grey-lightness), 100%);

    --red-hue: 340;
    --red-sat: 86%;
    --red-lightness: 47%;
    --red: hsla(var(--red-hue), var(--red-sat), var(--red-lightness), 100%);
}
