@import './mixins/browsers.mixin';
@import './vars';
@import 'node_modules/include-media/dist/_include-media.scss';
@import 'node_modules/reset-css/sass/_reset';
@import './fonts';

@import './components/icons';
@import './components/buttons';
@import './components/header';
@import './components/blurb';
@import './components/projects';
@import './components/articles';
@import './components/contact';
@import './components/footer';

body {
    display: block;
    background-color: var(--grey);
    color: var(--dark);
    font-size: 18px;
    line-height: 1.3;
    font-family: Ubuntu-Mono, monospace;

    a {
        color: var(--light);
        font-weight: bold;
        text-decoration: none;
    }

    main a {
        color: var(--dark);

        &:hover {
            text-decoration: underline;
        }
    }
}
