@import './mixins/browsers.mixin';
@import './vars';
@import 'node_modules/include-media/dist/_include-media.scss';
@import 'node_modules/reset-css/sass/_reset';
@import './fonts';

@import './pages/page';
@import './pages/contact';

@import './components/icons';
@import './components/prose';
@import './components/buttons';
@import './components/header';
@import './components/projectItem';
@import './components/articleItem';
@import './components/projectList';
@import './components/contactForm';
@import './components/tags';
@import './components/error';
@import './components/picker';
@import './components/footer';

@import './blocks/blurb';
@import './blocks/projectsHighlight';
@import './blocks/articlesHighlight';
@import './blocks/author';
@import './blocks/contact';

@import './layouts/list';
@import './layouts/single';

::selection {
  background: var(--accent);
  color: var(--accent-alt);
}

html {
  scroll-behavior: smooth;

  * {
    box-sizing: border-box;
  }

  body {
    display: block;
    background-color: var(--body-bg);
    color: var(--body-text);
    font-size: 18px;
    line-height: 1.3;
    font-family: Ubuntu-Mono, monospace;

    a {
      color: var(--light);
      font-weight: bold;
      text-decoration: none;
    }

    main {
      min-height: calc(100vh - 44px - 69px);

      @include media('>tablet') {
        padding-top: 69px;
      }

      a {
        color: var(--body-text);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
